<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

 <web-app>
 
 <servlet>
 <servlet-name>thirdURL</servlet-name>
 <servlet-class>servelet_day1.Registration</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>thirdURL</servlet-name>
 <url-pattern>/ABC</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>fourthURL</servlet-name>
 <servlet-class>servlet.Day2.StudentRegistration</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>fourthURL</servlet-name>
 <url-pattern>/MAHESH</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>studentURL</servlet-name>
 <servlet-class>Registration_forms.Student1</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>studentURL</servlet-name>
 <url-pattern>/MAHI</url-pattern>
 </servlet-mapping>
 
 </web-app>
